.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th {
    background-color: #2817ae;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}